body {
  background-color: #ffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #212121;
}
.navigation-list-link {
  font-style: normal;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.navigation-list-link:hover {
  color: #2196f3;
}
